<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ServletRegistrazioneCookie</display-name>
    <servlet-name>ServletRegistrazioneCookie</servlet-name>
    <servlet-class>it.registrazioneCookie.ServletRegistrazioneCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrazioneCookie</servlet-name>
    <url-pattern>/ServletRegistrazioneCookie</url-pattern>
  </servlet-mapping>
  <display-name>ServletRegistrazioneCookie_TURRI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletVisualizzazioneCookie</display-name>
    <servlet-name>ServletVisualizzazioneCookie</servlet-name>
    <servlet-class>it.registrazioneCookie.ServletVisualizzazioneCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVisualizzazioneCookie</servlet-name>
    <url-pattern>/ServletVisualizzazioneCookie</url-pattern>
  </servlet-mapping>
</web-app>