<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>servlets.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <display-name>AssicurazioneDB_WANG_TURRI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewPolizzeAttive</display-name>
    <servlet-name>ViewPolizzeAttive</servlet-name>
    <servlet-class>servlets.ViewPolizzeAttive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPolizzeAttive</servlet-name>
    <url-pattern>/ViewPolizzeAttive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaPagamentiData</display-name>
    <servlet-name>ListaPagamentiData</servlet-name>
    <servlet-class>servlets.ListaPagamentiData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaPagamentiData</servlet-name>
    <url-pattern>/ListaPagamentiData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertPagamento</display-name>
    <servlet-name>InsertPagamento</servlet-name>
    <servlet-class>servlets.InsertPagamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPagamento</servlet-name>
    <url-pattern>/InsertPagamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePolizza</display-name>
    <servlet-name>UpdatePolizza</servlet-name>
    <servlet-class>servlets.UpdatePolizza</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePolizza</servlet-name>
    <url-pattern>/UpdatePolizza</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ElencoClienti</display-name>
    <servlet-name>ElencoClienti</servlet-name>
    <servlet-class>servlets.ElencoClienti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElencoClienti</servlet-name>
    <url-pattern>/ElencoClienti</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPagamentiData</display-name>
    <servlet-name>ViewPagamentiData</servlet-name>
    <servlet-class>servlets.ViewPagamentiData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPagamentiData</servlet-name>
    <url-pattern>/ViewPagamentiData</url-pattern>
  </servlet-mapping>
</web-app>